@font-face {
  font-family: "Lexend-Black";
  src: url("../../assets/fonts/Lexend-Black.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-Medium";
  src: url("../../assets/fonts/Lexend-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-ExtraLight";
  src: url("../../assets/fonts/Lexend-ExtraLight.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-Light";
  src: url("../../assets/fonts/Lexend-Light.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-Bold";
  src: url("../../assets/fonts/Lexend-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-ExtraBold";
  src: url("../../assets/fonts/Lexend-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-Thin";
  src: url("../../assets/fonts/Lexend-Thin.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-SemiBold";
  src: url("../../assets/fonts/Lexend-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend-Regular";
  src: url("../../assets/fonts/Lexend-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SplineSansMono-Medium";
  src: url("../../assets/fonts/SplineSansMono-Medium.woff2") format("woff2"),
    url("../../assets/fonts/SplineSansMono-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SplineSansMono-Bold";
  src: url("../../assets/fonts/SplineSansMono-Bold.woff2") format("woff2"),
    url("../../assets/fonts/SplineSansMono-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SplineSansMono-Light";
  src: url("../../assets/fonts/SplineSansMono-Light.woff2") format("woff2"),
    url("../../assets/fonts/SplineSansMono-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SplineSansMono-SemiBold";
  src: url("../../assets/fonts/SplineSansMono-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/SplineSansMono-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SplineSansMono-Regular";
  src: url("../../assets/fonts/SplineSansMono-Regular.woff2") format("woff2"),
    url("../../assets/fonts/SplineSansMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../../assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AllianceNo.1-Light";
  src: url("../../assets/fonts/AllianceNo1-Light.woff2") format("woff2"),
    url("../../assets/fonts/AllianceNo1-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AllianceNo.1-Regular";
  src: url("../../assets/fonts/AllianceNo1-Regular.woff2") format("woff2"),
    url("../../assets/fonts/AllianceNo1-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AllianceNo.1-SemiBold";
  src: url("../../assets/fonts/AllianceNo1-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/AllianceNo1-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AllianceNo.1-Medium";
  src: url("../../assets/fonts/AllianceNo1-Medium.woff2") format("woff2"),
    url("../../assets/fonts/AllianceNo1-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SplineSans-Regular";
  src: url("../../assets/fonts/SplineSans-Regular.woff2") format("woff2"),
    url("../../assets/fonts/SplineSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
