:root {
  --Font_Lexend_Thin: "Lexend-Thin"; // Font - Weight - 100
  --Font_Lexend_Light_Extra: "Lexend-ExtraLight"; // Font - Weight - 200
  --Font_Lexend_Light: "Lexend-Light"; // Font - Weight - 300 => Body Font
  --Font_Lexend_Regular: "Lexend-Regular"; // Font - Weight - 400
  --Font_Lexend_Medium: "Lexend-Medium"; // Font - Weight - 500
  --Font_Lexend_SemiBold: "Lexend-SemiBold"; //  Font - Weight - 600
  --Font_Lexend_Bold: "Lexend-Bold"; // Font - Weight - 700
  --Font_Lexend_Bold_Extra: "Lexend-ExtraBold"; // Font - Weight - 800
  --Font_Lexend_Black: "Lexend-Black"; // Font - Weight - 900

  --Font_Spline_Sans_Mono_Light: "SplineSansMono-Light"; // Font - Weight - 300
  --Font_Spline_Sans_Mono_Regular: "SplineSansMono-Regular"; // Font - Weight - 400
  --Font_Spline_Sans_Mono_Medium: "SplineSansMono-Medium"; // Font - Weight - 500
  --Font_Spline_Sans_Mono_SemiBold: "SplineSansMono-SemiBold"; // Font - Weight - 600
  --Font_Spline_Sans_Mono_Bold: "SplineSansMono-Bold"; // Font - Weight - 700

  --Font_Roboto_Regular: "Roboto-Regular"; // Font - Weight - 400
  --Font_Inter_SemiBold: "Inter-SemiBold"; // Font - Weight - 600
  --Font_Inter_Medium: "Inter-Medium"; // Font - Weight - 500
  --Font_Inter_Regular: "Inter-Regular"; // Font - Weight - 400

  --Font_AllianceNo1-Light: "AllianceNo.1-Light"; // Font - Weight - 300
  --Font_AllianceNo1_Regular: "AllianceNo.1-Regular"; // Font - Weight - 400
  --Font_AllianceNo1_Medium: "AllianceNo.1-Medium"; // Font - Weight - 500
  --Font_AllianceNo1_SemiBold: "AllianceNo.1-SemiBold"; // Font - Weight - 600
  
  --Font_SplineSans_Regular: "SplineSans-Regular"; // Font - Weight - 400

  --Color_Black: #000000;
  --Color_Primary_Colors_Air: #ffffff;
  --Color_Primary_Colors_Midnight: #02162e;
  --Color_Primary_Colors_Sky: #42e5ff;
  --Color_Primary_Colors_Violet: #704cf4;
  --Color_Primary_Colors_Ivory: #f8f7f2;
  --Color_Secondary_Colors_Ivory_Dark: #d0cdbc;
  --Color_Charcoal: #4f4f4f;
  --Color_Secondary_Colors_Violet_Light: #cdbfff;
  --Color_Secondary_Colors_Violet_Dark: #4627b6;
  --Color_Primary_Colors_Sky_Lighter: #ccf8ff;
  
  --Color_Black_Op_Per_70: rgba(0, 0, 0, 0.7);
  --Color_Black_Op_Per_60: rgba(0, 0, 0, 0.6);
  --Color_Black_Op_Per_20: rgba(0, 0, 0, 0.2);
  --Color_Primary_Colors_Air_Op_Per_02: rgba(255, 255, 255, 0.02);
  --Color_Primary_Colors_Air_Op_Per_05: rgba(255, 255, 255, 0.05);
  --Color_Primary_Colors_Air_Op_Per_60: rgba(255, 255, 255, 0.6);
  --Color_Primary_Colors_Air_Op_Per_70: rgba(255, 255, 255, 0.7);
  --Color_Primary_Colors_Midnight_Op_Per_20: rgba(2, 22, 46, 0.2);
  --Color_Primary_Colors_Midnight_Op_Per_70: rgba(2, 22, 46, 0.7);
  --Color_Secondary_Colors_Violet_Light_Op_Per_20: rgba(205, 191, 255, 0.2);
}
